body {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font: bold;
    color: black;
    text-align: center;
}
@keyframes spin {
    50% {transform: rotateZ(180deg);}
    50% {transform: rotateZ(180deg);}
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
p.msgsuc {
    width: 50px;
    height: 50px;
    border: gray solid;
    border-radius: 10px;
    border-width: 0.1mm;
    background-color: greenyellow;
}
.logo:hover {
    animation: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.logo {
    position: fixed;
    text-align: left;
    bottom: 0px;
    color: black;
}
.prefix:hover {
    color: gray;
}
.first-cmd:hover {
    color: gray;
}
.second-cmd:hover {
    color: gray;
}
.therd-cmd:hover {
    color: gray;
}
.forth-cmd:hover {
    color: gray;
}