body {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font: bold;
    color: black;
    text-align: center;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
p.msgsuc {
    margin-right: 200px;
    margin-left: 200px;
    border: gray solid;
    border-radius: 10px;
    border-width: 0.1mm;
    background-color: greenyellow;
}
.logo:hover {
    width: 40;
    height: 40;
}
.logo {
    position: fixed;
    text-align: left;
    bottom: 0px;
    color: black;
}
.prefix:hover {
    color: gray;
}
.first-cmd:hover {
    color: gray;
}
.second-cmd:hover {
    color: gray;
}
.therd-cmd:hover {
    color: gray;
}
.forth-cmd:hover {
    color: gray;
}